* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: grid;
}

#board {
    height: 95vh;
    width: 50vw;
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

div.square {
    display: grid;
    justify-content: center;
    align-content: center;
}

img.piece {
    height: 70px;
    width: auto;
}

.white {
    background-color: azure;
}

.black {
    background-color: cornflowerblue;
}
.possible-move {
    background-color: orange;
}