@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

#board {
    height: 95vh;
    width: 50vw;
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    align-content: center;
}

div.square {
    display: grid;
    justify-content: center;
    align-content: center;
}

img.piece {
    height: 70px;
    width: auto;
}

.white {
    background-color: azure;
}

.black {
    background-color: cornflowerblue;
}
.possible-move {
    background-color: orange;
}

#popup {
    left: 0;
    right: 0;
    display: none;
    position: absolute;
    align-self: center;
    margin-left: auto;
    margin-right: auto;

    align-content: center;
    justify-content: center;

    height: 30%;
    width: 30%;
    padding: 50px;

    border: 1px solid black;
    border-radius: 30px;

    background-color: white;
}

#button-container {
    display: grid;
    justify-content: center;
}

button {
    font-family: "Roboto", sans-serif ;
    font-size: 20px;
    border-radius: 20px;
    padding: 20px;
}

p {
    text-align: center;
    font-size: 10px;
    padding-top: 10px;
}

span {
    font-weight: bold;
}

h1 {
    font-family: "Roboto", sans-serif ;
    letter-spacing: 5px;
    font-size: 50px;
    margin-top: 20px;
    text-align: center;
}